.fixed-header {
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

@media (min-width: 1024px) {
    .header-inner {
        padding: 20px 80px;
    }
}

.logo-img {
    height: 30px;
    width: auto;
    object-fit: contain;
    display: block;
}

.header-nav {
    display: flex;
    gap: 20px;
}

    .header-nav a {
        color: #808080;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s, text-shadow 0.3s;
    }

        .header-nav a:hover {
            color: #fff;
            text-shadow: 2px 2px 10px #fff;
        }

/* Відступ для контенту під фіксованим хедером */
@media (max-width: 767px) {
    .landing-page {
        padding-top: 60px;
    }
}

@media (min-width: 768px) {
    .landing-page {
        padding-top: 70px;
    }
}
